<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatisgeneratortest.mapper.PrivilegeMapper">
    <resultMap id="BaseResultMap" type="com.example.springbootmybatisgeneratortest.pojo.Privilege">
        <id column="privilege_id" property="privilegeId" jdbcType="VARCHAR"/>
        <result column="privilege_name" property="privilegeName" jdbcType="VARCHAR"/>
        <result column="privilege_link" property="privilegeLink" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    privilege_id, privilege_name, privilege_link, flag
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.example.springbootmybatisgeneratortest.pojo.PrivilegeExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from privilege
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from privilege
        where privilege_id = #{privilegeId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from privilege
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.example.springbootmybatisgeneratortest.pojo.PrivilegeExample">
        delete from privilege
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.example.springbootmybatisgeneratortest.pojo.Privilege">
    insert into privilege (privilege_id, privilege_name, privilege_link, 
      flag)
    values (#{privilegeId,jdbcType=VARCHAR}, #{privilegeName,jdbcType=VARCHAR}, #{privilegeLink,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.example.springbootmybatisgeneratortest.pojo.Privilege">
        insert into privilege
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="privilegeId != null">
                privilege_id,
            </if>
            <if test="privilegeName != null">
                privilege_name,
            </if>
            <if test="privilegeLink != null">
                privilege_link,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="privilegeId != null">
                #{privilegeId,jdbcType=VARCHAR},
            </if>
            <if test="privilegeName != null">
                #{privilegeName,jdbcType=VARCHAR},
            </if>
            <if test="privilegeLink != null">
                #{privilegeLink,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.example.springbootmybatisgeneratortest.pojo.PrivilegeExample"
            resultType="java.lang.Integer">
        select count(*) from privilege
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update privilege
        <set>
            <if test="record.privilegeId != null">
                privilege_id = #{record.privilegeId,jdbcType=VARCHAR},
            </if>
            <if test="record.privilegeName != null">
                privilege_name = #{record.privilegeName,jdbcType=VARCHAR},
            </if>
            <if test="record.privilegeLink != null">
                privilege_link = #{record.privilegeLink,jdbcType=VARCHAR},
            </if>
            <if test="record.flag != null">
                flag = #{record.flag,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update privilege
        set privilege_id = #{record.privilegeId,jdbcType=VARCHAR},
        privilege_name = #{record.privilegeName,jdbcType=VARCHAR},
        privilege_link = #{record.privilegeLink,jdbcType=VARCHAR},
        flag = #{record.flag,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmybatisgeneratortest.pojo.Privilege">
        update privilege
        <set>
            <if test="privilegeName != null">
                privilege_name = #{privilegeName,jdbcType=VARCHAR},
            </if>
            <if test="privilegeLink != null">
                privilege_link = #{privilegeLink,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where privilege_id = #{privilegeId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.springbootmybatisgeneratortest.pojo.Privilege">
    update privilege
    set privilege_name = #{privilegeName,jdbcType=VARCHAR},
      privilege_link = #{privilegeLink,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </update>
</mapper>